h1 {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

#inputRange {
  max-width: 500px;
}

#divContent {
  margin-top: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
}

#inputFrequency {
  width: 100px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}
